<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <div class="container-fluid mx-5">
    <a class="navbar-brand" href="#">App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
             routerLink="/admin/products"><i class="bi bi-cart-fill"></i> Products</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/admin/new-product">
              <i class="bi bi-plus-circle"></i> New Product
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/admin/products">
              <i class="bi bi-search"></i> Search
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/customers"><i class="bi bi-file-earmark-person"></i> Customers</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-md-auto">
        <li class="nav-item">
          <a class="nav-link">{{authService.authenticatedUser!.username}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button" (click)="handleLogout()"><i class="ni bi-box-arrow-right"></i> Logout </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet/>
